property-li a, property-dis-li a {
  display: flex;
  background-color: #e6d7b3;
  margin: 1em;
  border: #e6d7b3;
  border-radius: 2em;
  text-decoration: none;
  color: black;
}

property-li a:hover, property-dis-li a:hover {
  background-color: #ebddbc;
}

ul {
  padding-left: 0;
}

property-li, property-dis-li {
  list-style: none;
}

img {
  margin: 1em;
  border-radius: 2em;
}

.superhost {
  background-color: #2b3835;
  border-radius: .25em;
  color: #ebddbc;
  padding: .25em;
}

div div {
  display: flex;
  justify-content: flex-start;
}

div div * {
  margin: 1em;
}
